.container {
  display: flex;
  flex-direction: row;
  height: 428px;
  width: 1224px;
  margin: 0 auto;
  background: #f0f0f5;
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
  justify-content: space-between;
}
.container_wrap_p1 {
  height: 28px;
  align-content: center;
}

.container_p {
  font-family: Arial;
  font-weight: 400;
  font-size: 18px;
}

.container_wrap_imgQuest1 {
}

.p1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
}

.container_textInput {
  margin-top: 18px;
}

.container_textInput_label {
  margin-bottom: 14px;
}

.container_textInput_input {
  width: 386px;
  padding: 16px 0 16px 16px;
  margin-bottom: 8px;
}

.container_textInput_p {
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
}

.container_buttons {
  display: flex;
  margin-top: 32px;
  gap: 38px;
}

.buttonBack_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.buttonBack {
  height: 52px;
  width: 360px;
  background: #ffffff;
}

.buttonBack {
  height: 52px;
  width: 360px;
  border: 2px solid #e46f50;
}

.buttonBack_Text {
  font-family: Arial;
  font-weight: bold;
  font-size: 26px;
  color: #e36746;
}

.buttonForward {
  height: 52px;
  width: 360px;
  border: 2px solid #e46f50;
  background: #e46f50;
}

.buttonFovard_Text {
  font-family: Arial;
  font-weight: bold;
  font-size: 26px;
  color: #ffffff;
}
